/* Page Background */
.about-page {
  background-color: #f4ecda;
  padding-bottom: 100px;
}

/* Hero Section*/
.about-hero {
  height: 400px;
  background: url("/images/about-img.jpg") center/cover no-repeat;
  /* border-radius: 12px; */
  margin: 40px 0;
  position: relative;
  overflow: hidden;
}

/* Dark overlay */
.about-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
}

.about-hero h1 {
  font-size: 42px;
  margin: 0;
}

.about-hero h2 {
  font-size: 52px;
  margin: 0;
  font-weight: 600;
}

/* Content Section */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 80px 8% 0;
  width:1200px;
  margin: auto;
}

/* Left Text */
.about-text {
  flex: 1;
}

.small-title {
  color: #c1442e;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 42px;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Right Image */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 380px;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsiveness */
@media (max-width: 1366px) and (min-width: 1025px) {

  .about-content {
    width: 1000px;
    gap: 60px;
  }

  .about-hero h1 {
    font-size: 36px;
  }

  .about-hero h2 {
    font-size: 44px;
  }

  .about-text h2 {
    font-size: 36px;
  }

  .about-image img {
    width: 340px;
  }

}


@media (max-width: 1024px) {

  .about-content {
    width: 90%;
    gap: 50px;
  }

  .about-hero {
    height: 350px;
  }

  .about-hero .overlay {
    padding-left: 60px;
  }

  .about-hero h1 {
    font-size: 32px;
  }

  .about-hero h2 {
    font-size: 38px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-image img {
    width: 300px;
  }

}


@media (max-width: 768px) {

  .about-content {
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 60px 5% 0;
  }

  .about-hero {
    height: 280px;
    margin: 20px 0;
  }

  .about-hero .overlay {
    padding-left: 30px;
    justify-content: center;
  }

  .about-hero h1 {
    font-size: 26px;
  }

  .about-hero h2 {
    font-size: 30px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-image img {
    width: 250px;
    margin-top: 20px;
  }

}


@media (max-width: 480px) {

  .about-hero {
    height: 220px;
  }

  .about-hero .overlay {
    padding-left: 20px;
  }

  .about-hero h1 {
    font-size: 20px;
  }

  .about-hero h2 {
    font-size: 24px;
  }

  .small-title {
    font-size: 12px;
  }

  .about-text h2 {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }

  .about-image img {
    width: 200px;
  }

}